.venv
myenv/
env/
venv/
ENV/
env.bak/
venv.bak/

__pycache__/
*.py[cod]
*$py.class

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log