{% extends 'base.html' %}

{% block content %}

<hr>
    <div class="row note-border justify-content-center">
        <div class="w-50">
            {{ note | safe }}
            <span class="text-muted">Last updated {{ note.date_created  }}</span>

            <button class="btn btn-info">
                <a href="{% url 'edit_note' note.id %} " class="text-white">Edit</a>
            </button>
            <button class="btn btn-danger ">
            <a href="{% url 'delete' note.id %}" class="text-white">Delete</a>
            </button>
        </div>
    </div>
{% endblock %}